.pre-commit-config.yaml
*.atom
*.html
*.pdf
!templates/*

favicon.ico
favicon.png
avatar.jpg

notes.md
rhizome.md
note-current.md
rhizome-current.md

# Redirects
music.html
music
2019/11/14/transness-and-philosophy-exclusive.html
blog/2019/11/14/transness-and-philosophy-exclusive.html
2019/12/06/reflection-on-therapeutic-philosophy.html
blog/2019/12/06/reflection-on-therapeutic-philosophy.html
2020/02/11/memory-fades-but-our-words-are-forever.html
blog/2020/02/11/memory-fades-but-our-words-are-forever.html
