<!DOCTYPE html>
<html lang="en">
<head>
    <title><?makedown title?></title>
    <meta charset="UTF-8" />
    <meta name="description" content="<?makedown description?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="<?makedown author?>" />
    <meta name="date" content="<?makedown date?>" />
    <meta name="generator" content="<?makedown version?>" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:site_name" content="Kylie McClain" />
    <meta property="og:description" content="<?makedown description?>" />
</head>
<body>
    <header>
        <div class='title'>
            <img class='avatar' alt='A picture of me' src='/favicon.png' />
            <a href='/'>
                <span class='fullname'>Kylie McClain</span>
                <span class='nickname'>(Somasis)</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href='https://blog.somas.is/'><span class='fa fa-tumblr' aria-hidden='true'>&nbsp;</span>Blog</a></li>
                <li><a href='https://somasis.bandcamp.com/'><span class='fa fa-bandcamp' aria-hidden='true'>&nbsp;</span>Music</a></li>
                <li><a href='https://gitlab.com/somasis'><span class='fa fa-gitlab' aria-hidden='true'>&nbsp;</span>GitLab</a></li>
                <li><a rel='me' href='https://pickle.zone/@kylie'><span class='fa fa-mastodon' aria-hidden='true'>&nbsp;</span>Mastodon</a></li>
                <li><a href='https://twitter.com/kyliesomasis'><span class='fa fa-twitter' aria-hidden='true'>&nbsp;</span>Twitter</a></li>
                <li><a href='https://liberapay.com/somasis/donate'>Support my work</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <?makedown body?>
    </main>
    <footer>
        This site is made with <a href='https://gitlab.com/somasis/makedown' title='Makedown source code'>makedown</a>.
        The source is located <a href='https://gitlab.com/somasis/www.somas.is' title='Website source code'>here</a>.
        <small><?makedown commit?></small>
    </footer>
</body>
</html>
