body {
    margin: 20px 20px auto;
    max-width: 700px;
    line-height: 1.4;
    font-size: 14pt;
    color: #444;
    background-color: #fafafa;
}

header h1 {
    font-size: 32pt;
    line-height: 1.2;
    margin-bottom: 0px;
}

header h2 {
    font-weight: normal;
    font-size: 14pt;
    color: #777;
    margin-top: 0px;
}

h2 {
    margin-bottom: 0px;
}

a:link {
    color: #3e68bf;
}

a:visited {
    color: #935D99;
}

ul {
    list-style: none;
}

body > ul {
    margin-top: 0px;
    margin-left: -40px;
}

ul li:before {
    content: "-";
    padding-right: 4px;
    font-size: 90%;
}

