/*
    since you're going to forget:
        margin: <l/r/t/b>;
        margin: <t/b> <l/r>;
        margin: <t> <l/r> <b>;
        margin: <t> <r> <b> <l>;
*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Raleway:200,300');

body {
    line-height: 1.4;
    max-width: 780px;

    padding: 0px 16px;
    margin: 0 auto;

    background-color: #544263;
    color: #efefef;

    font-family: "Droid Sans", sans-serif;
    font-size: 12pt;
}

header, main, footer {
    width: 100%;
}

main ul, main ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li > ul {
    margin-left: 24px;
}

main ul li:before {
    content: "\2013";
    padding-right: 4px;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    margin: 4px 0px;
}

h1,h2,h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

a:link {
    color: #5e98ef;
}

a:hover {
    color: #9caed1;
}

a:visited {
    color: #d394b8;
}

a:visited:hover {
    color: #c68fcc;
}

/* Page header */
header {
    text-align: center;
    display: block;
    padding-top: 24px;
    padding-bottom: 0px;
}

header div.title {
    font-family: "Raleway", serif;
    font-size: 48pt;
    margin-right: 16px;
    line-height: 1;
    text-shadow: 0px 0px 2px #fefefd;
}

header div.title a:link,
header div.title a:hover,
header div.title a:visited,
header div.title a:visited:hover {
    color: #efefef;
    user-select: none;
    text-decoration: none;
}

header div.title small {
    font-family: "Raleway", sans-serif;
    font-size: 12pt;
    font-weight: 300;
    text-transform: lowercase;
    padding-bottom: 16px;
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
}

header small {
    border: 0;

    white-space: nowrap;
}

header nav {
    margin-bottom: -28px;
    margin-left: 48px;
    margin-right: 48px;
    user-select: none;
}

header nav ul {
    text-align: justify;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

header nav ul:after {
    content: '';
    width: 100%;
    display: inline-block;
}

header nav ul, header nav li {
    display: inline-block;
}

footer {
    margin-top: 16px;
    padding: 8px 0px;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    text-align: center;
}

blockquote {
    background: rgba(128,128,128,.1);
    margin: 0 auto;
    padding: 4px;
    border-top: 2px solid rgb(79,100,128);
    border-bottom: 2px solid rgb(79,100,128);
}

blockquote p {
    margin: 0;
}

pre {
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-line;
}

main > pre, pre > code {
    font-family: "Droid Sans Mono", monospace;
    font-size: 11pt;
}

/* Responsiveness */
@media only screen and (max-width: 480px) {
    header small {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    body {
        font-size: 11pt;
        padding: 0px 8px;
    }

    header {
        padding-top: 16px;
    }

    header div.title {
        font-size: 20vw;
        font-size: 48pt;
    }

    h2 {
        font-size: 16pt;
    }

    h1,h2,h3,h4,h5,h6 {
        margin-bottom: 4px;
    }

    header nav ul {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

}


