<!DOCTYPE html>
<html lang="en">
<head>
    <title><?makedown title?></title>
    <meta charset="UTF-8" />
    <meta name="description" content="<?makedown description?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="<?makedown author?>" />
    <meta name="date" content="<?makedown date?>" />
    <meta name="generator" content="<?makedown version?>" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="96x96" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <header>
        <div class='title'>
            <img class='avatar' src='https://www.gravatar.com/avatar/6b7b5cfb8e44b6af598fa2a0c5d1aa3c?s=256' />
            <a href='/'>
                <span class='fullname'>Kylie McClain</span>
                <span class='nickname'>(Somasis)</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href='https://blog.somasis.is/'>Blog</a></li>
                <li><a href='https://somasis.bandcamp.com/'>Music</a></li>
                <li><a href='https://github.com/somasis'>Git</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class='pagetitle'><?makedown title_unprefixed?></h1>
        <?makedown body?>
    </main>
    <footer>
        This site is made with <a href='https://github.com/somasis/makedown' title='Makedown source code'>makedown</a>.
        The source is located <a href='https://github.com/somasis/www.somas.is' title='Website source code'>here</a>.
        <small><?makedown commit?></small>
    </footer>
</body>
</html>
