/* Base. */
body {
    margin: 0 auto;
    max-width: 48rem;
    line-height: 1.6;
    padding: 2rem;
}

/* Site header. */
body > header {
    height: 4rem;
}

body > header > h1 {
    margin-top: 0;
    margin-bottom: 0px;
}

body > header img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    vertical-align: middle;
}

/* Site footer. */
body > footer {
    padding-top: 1rem;
    text-align: right;
    border-top: .1rem solid;
    font-size: 10pt;
}

/* Main page content. */
main > header > h1 {
    border-bottom: .1rem solid;
    margin-top: 1rem;
}

/* Article-relevant content. */
article h1 {
    margin-top: 0;
}

article h2 {
    border-bottom: .1rem solid;
}

article img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

article blockquote {
    border-left: .1rem solid;
    padding-left: 1rem;
}

/* Article summaries and dates, respectively. */
main > header > p,
main > header > time {
    display: block;
    text-align: right;
}

article code {
    background-color: #17181a;
    color: #fff;
    padding: .175rem .35rem;
}

/* Page-specific rules. */

/* index.md */
article span.latest-music {
    display: block;
    text-align: center;
}

article span.latest-music a {
    text-decoration: none;
}

article span.latest-music img {
    display: inline;
    width: 18.75rem; /* this funky number is basically 300px */
}

