<header class='siteheader'>
    <span class='meta h-card' rel='me'>
        <a href='/' class='u-url'>
            <img class='u-logo' alt='A picture of me' src="{{ site.data.meta.avatar }}">
            ~<span class='p-nickname'>somasis</span> <span class='p-name'><span class='p-given-name'>Kylie</span> <span class='p-family-name'>McClain</span></span>
        </a>
        <span class='p-note'>
            {{ site.data.meta.age }} year old {{ site.data.meta.gender }} ({{ site.data.meta.pronouns }}), {{ site.description }}
        </span>
    </span>

    <nav>
        <ul>
            {% for item in site.data.navigation %}
                <li>
                    <a{% if item.class %} class="{{ item.class }}"{% endif %} href="{{item.url}}"{% if item.rel %} rel="{{item.rel}}"{% endif %}{% if item.description %} title="{{item.description}}"{% endif %}>
                        {% if item.fa-icon %}<span class='fa fa-{{item.fa-icon}}'></span>{% endif %}{% if item.icon %}<img src="{% link {{ item.icon }} %}"{% if item.alt %} alt="{{item.alt}}"{% endif %}class='icon'>{% endif %}{{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
