<header class='siteheader'>
    <header class='h-card'>
        <a href='/' class='u-url'>
            <img class='u-photo' alt='A picture of me' src='https://www.gravatar.com/avatar/a187e38560bb56f5231cd19e45ad80f6?s=512'>
            <h1 class='p-nickname'>somasis <span class='p-name'><span class='p-given-name'>Kylie</span> <span class='p-additional-name'>Juliet</span> <span class='p-family-name'>McClain</span></h1>
        </a>
    </header>
    <aside>
        {{ site.age }} year old {{ site.pronouns }} {{ site.gender }}, {{ site.description }}
    </aside>

    <nav>
        <ul>
            {% for item in site.data.navigation %}
                <li>
                    <a{% if item.class %} class="{{ item.class }}"{% endif %} href="{{item.url}}"{% if item.rel %} rel="{{item.rel}}"{% endif%}{% if item.description %} title="{{item.description}}"{% endif%}>
                        {% if item.fa-icon %}<span class='fa fa-{{item.fa-icon}}'></span>{% endif %}{% if item.icon %}<img src="{% link {{ item.icon }} %}" class='icon'>{% endif %}{{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
