{% seo title=false %}
<title>{{ site.title }}{%if page.title %} - {{ page.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}" sizes="96x96">
<link rel="alternate" type="application/atom+xml" title="~somasis" href="/feed.xml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
