body > nav ul#breadcrumbs {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

body > h1,
body > header > h1 {
  margin-top: 0;
}

body > main pre {
  text-wrap-mode: wrap;
  word-break: break-all;
}

body > header > h1 {
  margin-bottom: 1rem;
}

body > date,
body > footer > small {
  text-align: right;
  display: block;
  font-style: italic;
}

li[id^="fn:"]:target {
  background-color: #ffdd00;
}

@media (prefers-color-scheme: dark) {
  li[id^="fn:"]:target {
    background-color: #ffbb009d;
  }
}
