<link
  rel="stylesheet"
  href="https://unpkg.com/bluesky-comments@0.12.0/dist/bluesky-comments.css"
/>
<link rel="stylesheet" href="{{ "css/bluesky-comments.css" | relURL }}" />
<script defer type="importmap">
  {
    "imports": {
      "react": "https://esm.sh/react@18",
      "react-dom/client": "https://esm.sh/react-dom@18/client",
      "bluesky-comments": "https://unpkg.com/bluesky-comments@0.12.0/dist/bluesky-comments.es.js"
    }
  }
</script>
<script defer type="module">
  import { createElement } from 'react';
  import { createRoot } from 'react-dom/client';
  import { BlueskyComments } from 'bluesky-comments';

  const author = 'somas.is';
  const container = document.getElementById('bluesky-comments');
  const root = createRoot(container);
  root.render(
    createElement(BlueskyComments, {
      "author": author,
      "uri": {{ .Params.bluesky | jsonify }},
    })
  );
</script>
