@import url(https://www.somas.is/assets/css/main.css);

html {
    max-width: initial;
}

body {
    padding: 0 16px;
    font-family: monospace;
}

body > hr {
    border: 0px;
    border-top: 2px solid rgba(0, 0, 0, .25);
}

body > table > tbody > tr > td > a > img {
    width: 96px;
    height: 96px;
}

body > table > tbody > tr > td > h1 {
    margin: 0px;
    font-size: 24px;
}

body > div#content {
    font-size: 16px;
    width: 100%;
}

body > div#content > table {
    width: 100%;
}
