nav.articles {
    margin-top: 8px;
}

nav.articles > article > header {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

nav.articles > article > header > span.post-overview > h2 {
    margin: 0;
    padding: 0;
}

nav.articles > article > header > span.post-overview > aside {
    opacity: .7;
    font-size: 16px;
    font-style: italic;
}

nav.articles > article > header > aside.details > .reading-time {
    font-size: 16px;
}

nav.articles > article > header > aside.description {
    font-size: 12px;
    float: left;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    nav.articles > article > header {
        display: block;
    }

    nav.articles > article > header > aside.details {
        display: inline-block;
    }

    nav.articles > article > header > aside.details > aside {
        display: inline;
    }

    nav.articles > article > header > span.post-overview > aside {
        float: left;
    }
}
