html {
    margin: 0 auto;
    max-width: 960px
}

body {
    padding: 16px;
    font-size: 18px;
    line-height: 1.5;
    font-family: serif;
    background: #eee;
    color: #000;
}

header.siteheader {
    line-height: 1;
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    padding-bottom: 16px;
}

header.siteheader a {
    outline: none;
}

span.meta .u-logo {
    float: left;
    font-size: 16px;
    margin-right: 16px;
    height: 96px;
}

span.meta .u-url {
    display: block;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 8px;
}

span.meta .p-name {
    visibility: hidden;
}

span.meta a:hover .p-name,
span.meta a:focus .p-name,
span.meta a:active .p-name {
    visibility: visible;
}

span.meta .p-name::before {
    content: ' is '
}

span.meta span.p-note {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
}

header.siteheader nav ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: block;
    line-height: 1.5;
}

header.siteheader nav ul li {
    display: inline-block;
    margin-right: 8px;
}

header.siteheader nav ul li a img.icon {
    max-height: 24px;
    margin-right: 4px;
    vertical-align: text-bottom;
}

header.siteheader nav ul li span {
    margin-right: 4px;
}

body > footer {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    border-top: 2px solid rgba(0, 0, 0, .25);
}

footer.sitefooter .license a.address {
    display: inline;
    font-style: normal;
}

footer.sitefooter .license a.address::before {
    content: '<'
}

footer.sitefooter .license a.address::after {
    content: '>'
}

a:link,
header.siteheader a:visited {
    font-weight: 600;
    color: #597bf7;
    text-decoration: none;
}

a:hover, a:focus,
header.siteheader > nav a:hover .fa:not(.fa-bandcamp),
header.siteheader > nav a:focus .fa:not(.fa-bandcamp) {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:visited {
    color: #9e6aae;
}

header.siteheader > nav > ul > li > a.bandcamp {
    color: #1da0c3;
}

header.siteheader > nav > ul > li > a.mutiny {
    color: #ac143f;
}

header.siteheader > nav > ul > li > a.exherbo {
    color: #3c7304;
}

header.siteheader > nav > ul > li > a.release {
    color: #9e11bb;
}

blockquote {
    border-left: 2px solid rgba(0, 0, 0, .25);
    margin: 16px 32px;
    padding-left: 16px;
}

footer > nav.archives > ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

footer > nav.archives > ul > li {
    display: inline-block;
}

/* openring - https://git.sr.ht/~sircmpwn/openring */
.webring h3 {
    margin: 8px 0px;
    border-bottom: 2px dashed rgba(0, 0, 0, .25);
}

.webring .articles {
    display: flex;
    flex-wrap: wrap;
}

.webring .title {
    margin: 0;
}

.webring .article {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.webring .article:first-child {
    padding-right: 16px;
}

.webring .article:last-child {
    padding-left: 16px;
}

.webring .summary {
    font-size: 12px;
    flex: 1 1 0;
}

@media only screen and (max-width: 960px) {
    .webring .articles {
        flex-direction: column;
    }

    .webring .article {
        padding: 0px !important;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 900px) {
    span.meta span.p-name {
        display: none;
    }

    span.meta {
        margin-bottom: 26px;
        display: block;
        width: 100%;
    }

    span.meta .u-logo {
        max-height: 64px;
    }

    span.meta .u-url {
        font-size: 56px;
    }

    span.meta .p-note {
        display: block;
        float: left;
        width: 100%;
        margin-top: 8px;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 400px) {
    span.meta .u-url {
        font-size: 40px;
    }

    span.meta .u-logo {
        max-height: 48px;
        margin-right: 8px;
    }
}
