main.post > article > header > h1 {
    margin: 0px;
}

main.post > article > header > span.post-extra {
    font-size: 16px;
}

main.post > article > header > span.post-extra > span.description {
    font-style: italic;
}

main.post > article > header > span.post-extra > span.reading-time {
    font-weight: 300;
}

main.post > article > footer {
    border-top: 2px dashed rgba(0,0,0,.25);
    padding-top: 16px;
    font-weight: 300;
}

main.post > article > footer > span.tags {
    font-weight: normal;
}

main.post > article > footer > time {
    float: right;
}

main.post > article > footer > time > a,
main.post > article > footer > span.tags > a {
    font-weight: 600;
    color: #000;

}

main.post article {
    line-height: 2;
}

main.post article .imageblock {
    display: block;
    text-align: center;
}

main.post article .imageblock .title {
    font-size: 16px;
    font-style: italic;
}

main.post article #footnotes {
    font-size: 16px;
    padding-bottom: 16px;
}

nav.prevnext {
    display: none;
}

@media only screen and (max-width: 960px) {
    main.post > article > header {
        display: inline-block;
    }

    main.post > article > header > footer {
        text-align: left;
        float: left;
    }

    main.post > article > footer > span.tags {
        width: 100%;
        display: block;
    }

    main.post > article > footer > time {
        float: unset;
    }
}

