<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include site_head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    </head>
    <body>
        {% include site_header.html %}

        <main class='post'>
            <article class="h-entry">
                <header class='post-overview'>
                    <h1 class='p-name'>{{ page.title }}</h1>
                    <span class='post-extra'>
                        {% if page.description %}<span class='description'>{{ page.description }}</span>{% endif %}
                        <span class='reading-time'>{{ content | reading_time_as_i }} to read.</span>
                    </span>
                </header>
                <span class="e-content">
                    {{ content }}
                </span>
                <footer class='post-details'>
                    {% if page.tags %}<span class='tags'>
                        {% for tag in page.tags %}
                            <a href="/tag/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </span>{% endif %}
                    <time class="dt-published" datetime="{{ page.date }}" title="{{ page.date | date: '%H:%M:%S %p' }}"><a href="{{ post }}">Posted on {{ page.date | date: '%A, %B %d, %Y' }}.</a></time>
            </article>
        </main>

        {% include site_footer.html %}
    </body>
</html>
