---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>
        {% include site_head.html %}
        <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    </head>
    <body>
        {% include site_header.html %}

        <main class='post'>
            <header>
                <span class='post-overview'>
                    <h1>{{ page.title }}</h1>
                    {% if page.description %}<aside class='description'>{{ page.description }}</aside>{% endif %}
                </span>
                <footer>
                    <aside class='reading-time'>{{ content | reading_time_as_i }} to read</aside>
                    {% if page.tags %}
                        <aside>
                            {% for tag in page.tags %}
                            {% endfor %}
                        </aside>
                    {% endif %}
                    <time datetime="{{ page.date }}" title="{{ page.date | date: '%H:%M:%S %p' }}">{{ page.date | date: '%A, %B %d, %Y' }}</time>
                </footer>
            </header>
            <article>
                {{ content }}
            </article>
        </main>

        {% include site_footer.html %}
    </body>
</html>
